In [93]:
import pandas as pd

# Read data
data = pd.read_csv("train.csv", sep = ',')
data = data.drop(columns = ['Descript', 'Resolution', 'Address'])
data.fillna(0, inplace=True)
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 6 columns):
Dates         878049 non-null object
Category      878049 non-null object
DayOfWeek     878049 non-null object
PdDistrict    878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
dtypes: float64(2), object(4)
memory usage: 40.2+ MB

,Dates,Category,DayOfWeek,PdDistrict,X,Y
0,2015-05-13 23:53:00,WARRANTS,Wednesday,NORTHERN,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,Wednesday,NORTHERN,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,Wednesday,NORTHERN,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,NORTHERN,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,PARK,-122.438738,37.771541
...,...,...,...,...,...,...
878044,2003-01-06 00:15:00,ROBBERY,Monday,TARAVAL,-122.459033,37.714056
878045,2003-01-06 00:01:00,LARCENY/THEFT,Monday,INGLESIDE,-122.447364,37.731948
878046,2003-01-06 00:01:00,LARCENY/THEFT,Monday,SOUTHERN,-122.403390,37.780266
878047,2003-01-06 00:01:00,VANDALISM,Monday,SOUTHERN,-122.390531,37.780607
878048,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,Monday,BAYVIEW,-122.394926,37.738212

In [94]:
# Change 'DayofWeek' to dummy features
all_dum = pd.get_dummies(pd.Series(data['DayOfWeek']))
new_data = pd.concat([data, all_dum], axis=1).drop(columns=['DayOfWeek'])
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 12 columns):
Dates         878049 non-null object
Category      878049 non-null object
PdDistrict    878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
Friday        878049 non-null uint8
Monday        878049 non-null uint8
Saturday      878049 non-null uint8
Sunday        878049 non-null uint8
Thursday      878049 non-null uint8
Tuesday       878049 non-null uint8
Wednesday     878049 non-null uint8
dtypes: float64(2), object(3), uint8(7)
memory usage: 39.4+ MB

In [95]:
# Change 'PdDistrict' to dummy features
all_dum = pd.get_dummies(pd.Series(data['PdDistrict']))
new_data = pd.concat([new_data, all_dum], axis=1).drop(columns=['PdDistrict'])
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 21 columns):
Dates         878049 non-null object
Category      878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
Friday        878049 non-null uint8
Monday        878049 non-null uint8
Saturday      878049 non-null uint8
Sunday        878049 non-null uint8
Thursday      878049 non-null uint8
Tuesday       878049 non-null uint8
Wednesday     878049 non-null uint8
BAYVIEW       878049 non-null uint8
CENTRAL       878049 non-null uint8
INGLESIDE     878049 non-null uint8
MISSION       878049 non-null uint8
NORTHERN      878049 non-null uint8
PARK          878049 non-null uint8
RICHMOND      878049 non-null uint8
SOUTHERN      878049 non-null uint8
TARAVAL       878049 non-null uint8
TENDERLOIN    878049 non-null uint8
dtypes: float64(2), object(2), uint8(17)
memory usage: 41.0+ MB

In [96]:
# Take hour from 'Dates' & change to dummy features
new_data['Dates'] = new_data['Dates'].str[11:-6]
all_dum = pd.get_dummies(pd.Series(new_data['Dates']))
new_data = pd.concat([new_data, all_dum], axis=1).drop(columns=['Dates'])
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 44 columns):
Category      878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
Friday        878049 non-null uint8
Monday        878049 non-null uint8
Saturday      878049 non-null uint8
Sunday        878049 non-null uint8
Thursday      878049 non-null uint8
Tuesday       878049 non-null uint8
Wednesday     878049 non-null uint8
BAYVIEW       878049 non-null uint8
CENTRAL       878049 non-null uint8
INGLESIDE     878049 non-null uint8
MISSION       878049 non-null uint8
NORTHERN      878049 non-null uint8
PARK          878049 non-null uint8
RICHMOND      878049 non-null uint8
SOUTHERN      878049 non-null uint8
TARAVAL       878049 non-null uint8
TENDERLOIN    878049 non-null uint8
00            878049 non-null uint8
01            878049 non-null uint8
02            878049 non-null uint8
03            878049 non-null uint8
04            878049 non-null uint8
05            878049 non-null uint8
06            878049 non-null uint8
07            878049 non-null uint8
08            878049 non-null uint8
09            878049 non-null uint8
10            878049 non-null uint8
11            878049 non-null uint8
12            878049 non-null uint8
13            878049 non-null uint8
14            878049 non-null uint8
15            878049 non-null uint8
16            878049 non-null uint8
17            878049 non-null uint8
18            878049 non-null uint8
19            878049 non-null uint8
20            878049 non-null uint8
21            878049 non-null uint8
22            878049 non-null uint8
23            878049 non-null uint8
dtypes: float64(2), object(1), uint8(41)
memory usage: 54.4+ MB

In [65]:
# Randomly split to training (75%) and testing (25%) dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(new_data.drop(columns=['Category']), new_data['Category'], test_size=0.25, random_state=42)

(       Dates           X          Y  Friday  Monday  Saturday  Sunday  \
 131598    15 -122.429307  37.730743       0       0         0       1
 417418    22 -122.485416  37.781945       0       0         0       1
 238841    16 -122.407707  37.785103       0       0         1       0
 525046    18 -122.403405  37.775421       0       0         0       0
 454230    12 -122.401281  37.719588       0       0         0       1
 ...      ...         ...        ...     ...     ...       ...     ...
 259178    17 -122.405895  37.786734       0       1         0       0
 365838    22 -122.396759  37.773173       1       0         0       0
 131932    22 -122.426956  37.769247       0       0         1       0
 671155    05 -122.386942  37.754168       1       0         0       0
 121958    12 -122.408068  37.783992       0       1         0       0

         Thursday  Tuesday  Wednesday  BAYVIEW  CENTRAL  INGLESIDE  MISSION  \
 131598         0        0          0        0        0          1        0
 417418         0        0          0        0        0          0        0
 238841         0        0          0        0        0          0        0
 525046         1        0          0        0        0          0        0
 454230         0        0          0        0        0          1        0
 ...          ...      ...        ...      ...      ...        ...      ...
 259178         0        0          0        0        0          0        0
 365838         0        0          0        0        0          0        0
 131932         0        0          0        0        0          0        1
 671155         0        0          0        1        0          0        0
 121958         0        0          0        0        0          0        0

         NORTHERN  PARK  RICHMOND  SOUTHERN  TARAVAL  TENDERLOIN
 131598         0     0         0         0        0           0
 417418         0     0         1         0        0           0
 238841         0     0         0         0        0           1
 525046         0     0         0         1        0           0
 454230         0     0         0         0        0           0
 ...          ...   ...       ...       ...      ...         ...
 259178         0     0         0         0        0           1
 365838         0     0         0         1        0           0
 131932         0     0         0         0        0           0
 671155         0     0         0         0        0           0
 121958         0     0         0         1        0           0

 [658536 rows x 20 columns],
        Dates           X          Y  Friday  Monday  Saturday  Sunday  \
 349598    23 -122.407878  37.785968       0       0         0       1
 766313    22 -122.443597  37.782644       0       0         1       0
 169887    21 -122.400474  37.785029       0       0         1       0
 594704    22 -122.419698  37.777301       0       0         0       1
 47900     08 -122.451488  37.767516       0       0         0       1
 ...      ...         ...        ...     ...     ...       ...     ...
 685293    11 -122.413161  37.777457       1       0         0       0
 829136    18 -122.420897  37.744038       0       0         0       1
 99406     12 -122.448307  37.735651       0       1         0       0
 416404    19 -122.403405  37.775421       0       0         0       0
 856264    21 -122.457551  37.711452       0       0         0       0

         Thursday  Tuesday  Wednesday  BAYVIEW  CENTRAL  INGLESIDE  MISSION  \
 349598         0        0          0        0        0          0        0
 766313         0        0          0        0        0          0        0
 169887         0        0          0        0        0          0        0
 594704         0        0          0        0        0          0        0
 47900          0        0          0        0        0          0        0
 ...          ...      ...        ...      ...      ...        ...      ...
 685293         0        0          0        0        0          0        0
 829136         0        0          0        0        0          1        0
 99406          0        0          0        0        0          0        0
 416404         0        0          1        0        0          0        0
 856264         0        0          1        0        0          0        0

         NORTHERN  PARK  RICHMOND  SOUTHERN  TARAVAL  TENDERLOIN
 349598         0     0         0         0        0           1
 766313         0     1         0         0        0           0
 169887         0     0         0         1        0           0
 594704         1     0         0         0        0           0
 47900          0     1         0         0        0           0
 ...          ...   ...       ...       ...      ...         ...
 685293         0     0         0         1        0           0
 829136         0     0         0         0        0           0
 99406          0     0         0         1        0           0
 416404         0     0         0         1        0           0
 856264         0     0         0         0        1           0

 [219513 rows x 20 columns],
 131598           OTHER OFFENSES
 417418           SUSPICIOUS OCC
 238841            LARCENY/THEFT
 525046                  ASSAULT
 454230    SEX OFFENSES FORCIBLE
                   ...
 259178            LARCENY/THEFT
 365838          SECONDARY CODES
 131932            LARCENY/THEFT
 671155           OTHER OFFENSES
 121958            LARCENY/THEFT
 Name: Category, Length: 658536, dtype: object,
 349598     LARCENY/THEFT
 766313           ASSAULT
 169887    OTHER OFFENSES
 594704       WEAPON LAWS
 47900      LARCENY/THEFT
                ...
 685293          WARRANTS
 829136      NON-CRIMINAL
 99406     OTHER OFFENSES
 416404      NON-CRIMINAL
 856264     LARCENY/THEFT
 Name: Category, Length: 219513, dtype: object)

In [66]:
from sklearn import tree

# training model & Predict
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train, y_train)
y_test_pred = clf.predict(x_test)

In [67]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

# Calculate & plot the Confusion Matrix
acc = accuracy_score(y_test, y_test_pred)
prec = precision_score(y_test, y_test_pred, average='macro')
recall = recall_score(y_test, y_test_pred, average='macro')
print('Accuracy: {}, Precision: {}, Recall: {}'.format(acc, prec, recall))

Accuracy: 0.24598543138675158, Precision: 0.10776022682136717, Recall: 0.10627600568659873